#counter{
    padding: 300px 0 285px;
    background-color: #f9f9fb;
    position: relative;
    .counter-box{
        display: flex;
        justify-content: center;
        .counter-item{
            width: 300px;
            text-align: center;
            border-right: 2px solid rgba(79, 88, 95, 0.2);
            &:last-child{
                border: none;
            }
            .counter-line{
                font-family: $primarifont;
                font-weight: 800;
                font-size: 64px;
                line-height: 68px;
                color: $brand;
                padding: 0;
            }
            .counter-holder{
                font-family: $primarifont;
                font-weight: 700;
                font-size: 36px;
                line-height: 40px;
                margin-top: 24px;
            }
        }
    }
    .countershap{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
}