@import "../mixins/mixin";
#impact{
    padding: 90px 0 110px;
    position: relative;
    .title{
        text-align: center;
        h2{
            @include heading
        }
        p{
            width: 558px;
            margin: 32px auto 0;
            @include defaulttxt
        }
    }
    .impact-wraper{
        margin-top: 75px;
        .impact-txt{
            display: flex;
            flex-direction: column;
            gap: 40px;
            .item{
                display: flex;
                gap: 35px;
                img{
                    width: 50px;
                    height: 50px;
                }
                .txt{
                    h3{
                        @include subheading
                    }
                    p{
                        width: 75%;
                        @include defaulttxt
                    }
                }
            }
        }
        .impact-img{
            position: relative;
            .impacttwo{
                position: absolute;
                top: -1%;
                left: 43%;
            }
            .impactthree{
                position: absolute;
                top: 41%;
                left: 30%;
            }
            .impactshap{
                position: absolute;
                top: 30%;
                left: 76%;
            }
        }
    }
    .impactvictor{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}