@import "../mixins/mixin";
#whatdo {
  background-color: #f6f5ff;
  padding: 100px 0;
  .whatdo-wraper{
    row-gap: 20px
  }
  h2 {
    @include heading;
  }
  p {
    @include defaulttxt;
    margin-top: 20px;
  }
  .whatdobtn {
    margin-top: 56px;
    @include button($bg: $brand);
  }
  .card {
    height: 100%;
    padding: 30px;
    text-align: center;
    background-color: transparent;
    transition: 0.4s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    .card-img-top {
      width: 65px;
      margin: 0 auto;
    }
    .card-body {
      padding: 0;
      .card-title {
        margin-top: 32px;
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        @include subheading;
      }
      .card-text {
        transition: 0.4s;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -ms-transition: 0.4s;
        -o-transition: 0.4s;
        margin: 0 20px;
      }
      .Readmore {
        font-family: $primarifont;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        color: $heading;
        padding: 8px 10px;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        margin-top: 20px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        transition: .4s;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
        -o-transition: .4s;
        &::after {
          content: "";
          width: 25%;
          height: 100%;
          background-color: $brand;
          position: absolute;
          top: 0;
          right: 0;
          z-index: -1;
          opacity: 0.3;
          transition: 0.4s;
          -webkit-transition: 0.4s;
          -moz-transition: 0.4s;
          -ms-transition: 0.4s;
          -o-transition: 0.4s;
        }
      }
    }
    &:hover {
      background-color: $secondercolor;
      .card-body {
        padding: 0;
        .card-title {
          color: $white;
        }
        .card-text {
          color: $white;
        }
        .Readmore {
          color: $white;
          &::after {
            background-color: $white;
          }
        }
      }
    }
  }
}
